<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="monitorDashoardConfiguration" type="ND.MonitorDasboard.Web.Config.MonitorDashoardConfiguration, ND.MonitorDashboard.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>



  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILifeTestService" openTimeout="5" closeTimeout="5" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://fra-vsd-29327:10101/Services/ILifeTestService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILifeTestService" contract="LifeTestService.ILifeTestService" name="BasicHttpBinding_ILifeTestService" />
    </client>
  </system.serviceModel>

  <monitorDashoardConfiguration xmlns="urn:ND.MonitorDasboard.Web.Config">
    <monitors>
      <monitor applicationCode="TRACA" applicationName="Service Traçabilité" remotePort="10101" />
      <monitor applicationCode="OPTRSP" applicationName="Service Opération Transport" remotePort="10201" />
      <monitor applicationCode="AFFR" applicationName="Service Affrètement" remotePort="8201" />
      <monitor applicationCode="MAPB" applicationName="Service Métier Carto" remotePort="8701" />
      <monitor applicationCode="KPI" applicationName="Service KPIs" remotePort="8301" />
      <monitor applicationCode="PMC" applicationName="Service PMC" remotePort="8801" />
      <monitor applicationCode="SETT" applicationName="Service Settings" remotePort="8601" />
      <monitor applicationCode="SSO" applicationName="Service SSO" remotePort="10001" />
      <monitor applicationCode="FEND" applicationName="Service Bourse de fret" remotePort="8501" />
      <monitor applicationCode="SUIVI" applicationName="Service Suivi PC" remotePort="10501" />
    </monitors>
    <clusters>
      <cluster code="PHOENIX_DEV_W2008R2" label="Phoenix dev OLD">
        <environment code="DEV W2008R2" label="Développement" />
        <nodes>
          <node machineName="FRA-VSD-29327" />
          <node machineName="FRA-VSD-29328" />
        </nodes>
      </cluster>
      <cluster code="PHOENIX_REC_W2008R2" label="Phoenix rec OLD">
        <environment code="REC W2008R2" label="Recette" />
        <nodes>
          <node machineName="FRA-VSR-29329" />
          <node machineName="FRA-VSR-29330" />
        </nodes>
      </cluster>
      <cluster code="PHOENIX_REC_W2012R2" label="Phoenix rec">
        <environment code="REC W2012R2" label="Recette" />
        <nodes>
          <node machineName="FRA-VSR-32698" />
          <node machineName="FRA-VSR-32699" />
        </nodes>
      </cluster>
      <!--<cluster code="PHOENIX_INT_W2008R2" label="Phoenix INT OLD">
        <environment code="INT W2008R2" label="Intégration" />
        <nodes>
          <node machineName="FRA-VSI-29336" />
          <node machineName="FRA-VSI-29337" />
        </nodes>
      </cluster>
       <cluster code="PHOENIX_INT_W2012R2" label="Phoenix INT">
        <environment code="INT W2012R2" label="Intégration" />
        <nodes>
          <node machineName="FRA-VSI-32713" />
          <node machineName="FRA-VSI-32714" />
        </nodes>
      </cluster>-->
      <!--<cluster code="PHOENIX_PROD_W2008R2" label="Phoenix PROD OLD">
      <environment code="PROD W2008R2" label="Production" />
      <nodes>
        <node machineName="FRA-VSP-29365" />
        <node machineName="FRA-VSP-29366" />
      </nodes>
    </cluster>
    <cluster code="PHOENIX_PROD_W2012R2" label="Phoenix PROD">
      <environment code="PROD W2012R2" label="Production" />
      <nodes>
        <node machineName="FRA-VSP-32731" />
        <node machineName="FRA-VSP-32732" />
        <node machineName="FRA-VSP-32733" />
      </nodes>
    </cluster>-->
    </clusters>
  </monitorDashoardConfiguration>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
