<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILifeTestService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fra-vsd-29327:10101/Services/ILifeTestService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILifeTestService"
                contract="LifeTestService.ILifeTestService" name="BasicHttpBinding_ILifeTestService" />
        </client>
    </system.serviceModel>
</configuration>